.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px){
  .test{
   animation:App-logo-spin 5s  ; 
    /* display: none; */
    background-color: crimson;
  }

}
/* @media (min-width: 768px){
  .test{
    display: none;
    background-color: rgb(40, 20, 220);
  }

  }
   */

   @media(max-width: 750px ){
     .big{
       /* height: 300px; */
       display: none;
       /* background-color: darkgoldenrod; */
     }
   }
  @media(min-width:750px ){
.smalll{
  display: none;
}
  }